<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ServiceGroup" value="NVL_Dynamics_ERP" />

    <!-- NSI -->
    <add key="NSI.UriString" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com/" />
    <add key="NSI.ActiveDirectoryResource" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com" />
    <add key="NSI.ActiveDirectoryTenant" value="https://login.windows.net/nsiax.onmicrosoft.com" />
    <add key="NSI.ActiveDirectoryClientAppId" value="85b83e60-5670-45a8-a011-fbae519410a5" />
    <add key="NSI.ActiveDirectoryClientAppSecret" value="pOag1YewhMh7MzXkaoeIJMlfVuUiUzE4LhJp/iq8mbE=" />
    <add key="NSI.TLSVersion" value="" />

    <!-- DEV TP -->
    <add key="DEV.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="DEV.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="DEV.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="DEV.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="DEV.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="DEV.TLSVersion" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>