<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ServiceGroup" value="NVL_Dynamics_ERP" />

    <!-- Développement NSI -->
    <!--<add key="Dev.UriString" value="http://10.250.16.90:51180/ServiceComptaPlus.svc" />
    <add key="Dev.ActiveDirectoryResource" value="http://194.78.49.21:51190/ServiceComptaPlus.svc" />
    <add key="Dev.ActiveDirectoryTenant" value="" />
    <add key="Dev.ActiveDirectoryClientAppId" value="" />
    <add key="Dev.ActiveDirectoryClientAppSecret" value="" />
    <add key="Dev.ErpVersion" value="" />-->

    
    <!-- Développement NSI Claude-->
    <add key="DEV.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="DEV.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="DEV.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="DEV.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="DEV.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="DEV.ErpVersion" value="" />
    <add key="DEV.TLSVersion" value="" />

     <!--NSI
    <add key="NSI.UriString" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com/" />
    <add key="NSI.ActiveDirectoryResource" value="https://usnconeboxax1aos.cloud.onebox.dynamics.com" />
    <add key="NSI.ActiveDirectoryTenant" value="https://login.windows.net/nsiax.onmicrosoft.com" />
    <add key="NSI.ActiveDirectoryClientAppId" value="85b83e60-5670-45a8-a011-fbae519410a5" />
    <add key="NSI.ActiveDirectoryClientAppSecret" value="pOag1YewhMh7MzXkaoeIJMlfVuUiUzE4LhJp/iq8mbE=" />
    <add key="NSI.TLSVersion" value="" />
    <add key="NSI.TLSVersion" value="" />

     DEV TP
    <add key="DEV.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="DEV.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="DEV.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="DEV.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="DEV.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="DEV.TLSVersion" value="" />
    <add key="NSI.TLSVersion" value="" />

     DEV TP
    <add key="Test.UriString" value="https://tp-devaos.sandbox.ax.dynamics.com/" />
    <add key="Test.ActiveDirectoryResource" value="https://tp-devaos.sandbox.ax.dynamics.com" />
    <add key="Test.ActiveDirectoryTenant" value="https://login.windows.net/thomaspirongroupe.onmicrosoft.com" />
    <add key="Test.ActiveDirectoryClientAppId" value="378fdf10-bf69-45c4-a5c4-2bdfd977bca8" />
    <add key="Test.ActiveDirectoryClientAppSecret" value="qbW/upDfpKm50KazNkp0fGtDCY1Zj+j40+6XMilEZDE=" />
    <add key="Test.TLSVersion" value="" />
    <add key="NSI.TLSVersion" value="" />-->


    <!-- *******************************************************************
                            Développement SIDE
         *******************************************************************
    -->

    <!-- @@@@@@@@@@@@@@
    ENVIRONNEMENT de DEVELOPEMENT (DEV)
    @@@@@@@@@@@@@@@@ -->

    <!-- *********** Informations client des bases de données TP ************* -->

    <!-- Nom de l'instance SQL pour la GTP -->
    <add key="Dev.GTP_InstanceServerGtp" value="10.250.16.33\OURSQLDVP" />
    <!-- Nom de la base de données du GTP -->
    <add key="Dev.GTP_DataBaseGTP" value="DONNEESGTP3" />
    <!-- Utilisateur pour la connexion au SERVER SQL -->
    <add key="Dev.GTP_UserConnection" value="sa" />
    <!-- Mot de passe crypter pour la connexion au SERVER SQL -->
    <add key="Dev.GTP_PassWordConnection" value="JdDmbpNDX3Y=" />
    <!-- Nom de la table LOG du Web Service (suivi des opérations du Web Service.) -->
    <add key="Dev.GTP_NameTableLogWs" value="[CPT].[LogWebServices]" />
    <!-- Nom de la table des interfaces de Compta Plus  -->
    <add key="Dev.GTP_NameTableTrInterfaceWs" value="[CPT].[TrInterfaces]" />
    <!-- Nom de la table des Web Service de Compta Plus-->
    <add key="Dev.GTP_NameTableTrWebServices" value="[CPT].[TrWebServices]" />
    <!-- Nom de la table des messages pour Compta Plus -->
    <add key="Dev.GTP_NameTableTrError" value="[CPT].[MessagesComptaPlus]" />
    <!-- Nom de la table des connexions TP -->
    <add key="Dev.GTP_NameTableConnectionTP" value="[dbo].[GAR_COPIECC2]" />
    <!-- Nom de la table des sociétés TP -->
    <add key="Dev.GTP_NameTableSocietyTP" value="[dbo].[STR_Societe2]" />

    <!-- *********** Informations générales ************* -->
    <!-- Type d'environnement TP -->
    <add key="Dev.TPEnvironnement" value= "DEV" />
    <add key="Dev.TypeConnexionSqlServer" value= "Dbmssocn" />

    <add key="Dev.AcceptChekAddPcmn" value= "0" />


    <!-- @@@@@@@@@@@@@@
    ENVIRONNEMENT de TEST (TEST)
    @@@@@@@@@@@@@@@@ -->

    <!-- *********** Informations client des bases de données TP ************* -->

    <!-- Nom de l'instance SQL pour la GTP -->
    <add key="Test.GTP_InstanceServerGtp" value="10.250.16.33\OURSQLDVP" />
    <!-- Nom de la base de données du GTP -->
    <add key="Test.GTP_DataBaseGTP" value="DONNEESGTP" />
    <!-- Utilisateur pour la connexion au SERVER SQL -->
    <add key="Test.GTP_UserConnection" value="sa" />
    <!-- Mot de passe crypter pour la connexion au SERVER SQL -->
    <add key="Test.GTP_PassWordConnection" value="" />
    <!-- Nom de la table LOG du Web Service (suivi des opérations du Web Service.) -->
    <add key="Test.GTP_NameTableLogWs" value="[CPT].[LogWebServices]" />
    <!-- Nom de la table des interfaces de Compta Plus  -->
    <add key="Test.GTP_NameTableTrInterfaceWs" value="[CPT].[TrInterfaces]" />
    <!-- Nom de la table des Web Service de Compta Plus-->
    <add key="Test.GTP_NameTableTrWebServices" value="[CPT].[TrWebServices]" />
    <!-- Nom de la table des messages pour Compta Plus -->
    <add key="Test.GTP_NameTableTrError" value="[CPT].[MessagesComptaPlus]" />
    <!-- Nom de la table des connexions TP -->
    <add key="Test.GTP_NameTableConnectionTP" value="[GAR_COPIECC]" />
    <!-- Nom de la table des sociétés TP -->
    <add key="Test.GTP_NameTableSocietyTP" value="[STR_Societe]" />

    <!-- *********** Informations générales ************* -->
    <!-- Type d'environnement TP -->
    <add key="Test.TPEnvironnement" value= "TEST" />

    <add key="Test.AcceptChekAddPcmn" value= "0" />

  </appSettings>






  <!--
    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->

  <!--<appSettings>
    <add key="Environment" value="Developpement" />
    <add key="ServiceGroup" value="ServiceComptaPlus" />

    --><!-- Développement --><!--
    <add key="Developpement.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="Developpement.BaseDonneesMetier" value="BakDataSql" />
    <add key="Developpement.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="Developpement.TableLog" value="CPT_LogWebServices" />
    <add key="Developpement.Utilisateur" value="sa" />
    <add key="Developpement.MotPasse" value="JdDmbpNDX3Y=" />

    --><!-- Production --><!--
    <add key="Developpement.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="Developpement.BaseDonneesMetier" value="BakDataSql" />
    <add key="Developpement.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="Developpement.TableLog" value="CPT_LogWebServices" />
    <add key="Developpement.Utilisateur" value="sa" />
    <add key="Developpement.MotPasse" value="JdDmbpNDX3Y=" />

    --><!-- Test --><!--
    <add key="Developpement.Serveur" value="10.250.16.33\OURSQLDVP" />
    <add key="Developpement.BaseDonneesMetier" value="BakDataSql" />
    <add key="Developpement.BaseDonneesGtp" value="DONNEESGTP3" />
    <add key="Developpement.TableLog" value="CPT_LogWebServices" />
    <add key="Developpement.Utilisateur" value="sa" />
    <add key="Developpement.MotPasse" value="JdDmbpNDX3Y=" />


  </appSettings>-->

  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="WSComptaPlus.ServiceComptaPlus" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="WSComptaPlus.IServiceComptaPlus" behaviorConfiguration="web" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
